:root {
  --systemflow-lite--neutral--100: #0e0f11;
  --systemflow-lite--neutral--80: #636b75;
  --systemflow-lite--primary--60: #2f54eb;
  --systemflow-lite--neutral--10-2: white;
  --systemflow-lite--primary--50: #597ef7;
  --systemflow-lite--primary--70: #1d39c4;
  --systemflow-lite--primary--80: #10239e;
  --systemflow-lite--primary--10: #f2f6ff;
  --systemflow-lite--primary--20: #e5eeff;
  --systemflow-lite--neutral--50: #d0d4d9;
  --systemflow-lite--neutral--40: #dde1e6;
  --systemflow-lite--neutral--20: #f9fafb;
  --systemflow-lite--neutral--90: #1e2024;
  --systemflow-lite--primary--40: #85a5ff;
  --systemflow-lite--neutral--70: #838d95;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  text-align: center;
  letter-spacing: .25px;
  text-overflow: clip;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible, .nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible, .nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible, .nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.footer-subscribe {
  border-bottom: 1px solid #e4ebf3;
  padding: 16px 30px;
  position: relative;
}

.footer-form-two {
  background-color: #f5f7fa;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  border: 1px #000;
  width: 460px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
}

.footer-form-input::placeholder {
  color: #1a1b1fcc;
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: #1a1b1f;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: #1a1b1fbf;
}

.footer-social-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: #3a4554;
  margin-left: 24px;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.div-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-logo-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
}

.body {
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

.image {
  max-width: 85px;
}

.image-logo {
  max-width: 85px;
  margin-right: 10px;
  padding-right: 0;
}

.hero-heading-center {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.sysf-container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.sysf-heading {
  color: var(--systemflow-lite--neutral--100);
}

.sysf-heading.sysf-xl {
  letter-spacing: -.022em;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.25;
}

.sysf-heading.sysf-xl.sysf-c-t-neutral-10 {
  color: #fff;
}

.sysf-heading.sysf-l {
  letter-spacing: -.021em;
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.25;
}

.sysf-heading.sysf-m {
  letter-spacing: -.019em;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
}

.sysf-heading.sysf-m.spacing-befoew {
  margin-top: 50px;
}

.sysf-heading.sysf-xs {
  letter-spacing: -.014em;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

.sysf-body-text {
  color: var(--systemflow-lite--neutral--80);
  margin-top: 0;
}

.sysf-body-text.sysf-m {
  letter-spacing: -.011em;
}

.sysf-button {
  background-color: var(--systemflow-lite--primary--60);
  color: var(--systemflow-lite--neutral--10-2);
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: background-color .25s;
  position: relative;
}

.sysf-button:hover {
  background-color: var(--systemflow-lite--primary--50);
}

.sysf-button:active {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-button:focus {
  box-shadow: 0 0 0 2px var(--systemflow-lite--neutral--10-2), 0 0 0 5px var(--systemflow-lite--primary--60);
}

.sysf-button.sysf-medium {
  border-radius: 6px;
  padding: 8px 12px;
}

.sysf-button.sysf-medium:hover {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-button.sysf-medium:active {
  background-color: var(--systemflow-lite--primary--80);
}

.sysf-button.sysf-medium:focus {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-button.sysf-medium.sysf-secondary {
  background-color: var(--systemflow-lite--neutral--10-2);
  box-shadow: none;
  color: var(--systemflow-lite--primary--60);
}

.sysf-button.sysf-medium.sysf-secondary:hover {
  background-color: var(--systemflow-lite--primary--10);
}

.sysf-button.sysf-medium.sysf-secondary:active {
  background-color: var(--systemflow-lite--primary--20);
}

.sysf-button.sysf-medium.sysf-secondary:focus {
  box-shadow: 0 0 0 2px var(--systemflow-lite--neutral--10-2), 0 0 0 5px var(--systemflow-lite--primary--60);
}

.sysf-button.sysf-secondary {
  color: #2f54eb;
  background-color: #f0f5ff;
  transition: box-shadow .25s, color .25s, background-color .25s;
  box-shadow: inset 0 0 0 1px #adc6ff;
}

.sysf-button.sysf-secondary:hover {
  color: #1d39c4;
  box-shadow: inset 0 0 0 1px #2f54eb;
}

.sysf-button-text {
  font-weight: 500;
  display: inline-block;
}

.sysf-s-m-b-0 {
  margin-bottom: 0;
}

.sysf-c-t-neutral-10 {
  color: var(--systemflow-lite--neutral--10-2);
}

.sysf-hero-title-centered {
  text-align: center;
  width: 60%;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.sysf-hero-title-centered.sysf-s-m-b-0 {
  margin-bottom: 0;
}

.sysf-wrapper-l {
  padding-top: 128px;
  padding-bottom: 128px;
}

.sysf-ctas-wrapper {
  margin-top: 1.5rem;
}

.sysf-hero-section {
  position: relative;
  overflow: hidden;
}

.sysf-hero-section.sysf-hero-big {
  background-image: linear-gradient(#000000b3, #000000b3), url('../images/Campus-PM-2.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.sysf-wrapper-m {
  padding-top: 64px;
  padding-bottom: 64px;
}

.sysf-tab {
  background-color: var(--systemflow-lite--neutral--10-2);
  box-shadow: inset 0 -1px 0 0 var(--systemflow-lite--neutral--50);
  color: var(--systemflow-lite--neutral--80);
  padding: 12px 16px;
}

.sysf-tab:hover {
  color: var(--systemflow-lite--primary--60);
}

.sysf-tab:active {
  background-color: var(--systemflow-lite--primary--10);
}

.sysf-tab:focus {
  background-color: var(--systemflow-lite--primary--10);
  color: var(--systemflow-lite--primary--60);
}

.sysf-tab.w--current {
  background-color: var(--systemflow-lite--neutral--10-2);
  box-shadow: inset 0 -2px 0 0 var(--systemflow-lite--primary--60);
  color: var(--systemflow-lite--primary--60);
  padding: 12px 16px;
}

.sysf-tab.w--current:active, .sysf-tab.w--current:focus {
  background-color: var(--systemflow-lite--primary--10);
}

.sysf-tabs-menu {
  box-shadow: inset 0 -1px 0 0 var(--systemflow-lite--neutral--50);
}

.sysf-tag {
  border: 1px solid var(--systemflow-lite--neutral--40);
  background-color: var(--systemflow-lite--neutral--20);
  color: var(--systemflow-lite--neutral--90);
  border-radius: 6px;
  align-items: center;
  margin-right: 4px;
  padding: 0 4px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 24px;
  display: inline-block;
}

.sysf-grid-table {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--systemflow-lite--neutral--40);
  border-radius: 6px;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.sysf-table-cell {
  box-shadow: inset 0 -1px 0 0 var(--systemflow-lite--neutral--40);
  color: var(--systemflow-lite--neutral--80);
  padding: 10px 12px;
}

.sysf-table-cell.sysf-last {
  box-shadow: none;
}

.sysf-table-header {
  background-color: var(--systemflow-lite--neutral--20);
  box-shadow: inset 0 -1px 0 0 var(--systemflow-lite--neutral--40);
  color: var(--systemflow-lite--neutral--100);
  padding: 10px 12px;
  font-size: 1rem;
  font-weight: 600;
}

.list-item {
  text-align: left;
  text-overflow: clip;
  white-space: nowrap;
  word-break: keep-all;
  overflow-wrap: normal;
}

.body-2 {
  font-family: Oswald, sans-serif;
}

.div-block-2 {
  text-align: center;
}

.sysf-section-title {
  width: 50%;
  margin-bottom: 48px;
}

.sysf-section-title.sysf-centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sysf-tagline {
  background-color: var(--systemflow-lite--primary--10);
  color: var(--systemflow-lite--primary--60);
  letter-spacing: -.006em;
  border-radius: 6px;
  margin-bottom: 1.25rem;
  padding-left: 8px;
  padding-right: 8px;
  font-size: .875rem;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
}

.material-icons.sysf-icon-left {
  margin-top: 2px;
  margin-right: 4px;
}

.material-icons.sysf-icon-left.sysf-icon-collapse {
  color: var(--systemflow-lite--neutral--80);
  margin-top: 0;
  margin-right: 0;
}

.sysf-collapse-text {
  opacity: 0;
  color: var(--systemflow-lite--neutral--80);
  padding-top: 0;
  padding-bottom: 12px;
  padding-left: 32px;
  display: none;
}

.sysf-collapse-text.sysf-borderless {
  padding-left: 12px;
}

.sysf-collapse-trigger {
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.sysf-collapse-title {
  flex: 1;
  margin-left: 12px;
  font-weight: 500;
  display: inline-block;
}

.sysf-collapse {
  border-radius: 6px;
  overflow: hidden;
}

.sysf-collapse.sysf-borderless {
  background-color: var(--systemflow-lite--neutral--10-2);
  border-style: none;
  padding: 24px;
}

.sysf-c-b-neutral-20 {
  background-color: var(--systemflow-lite--neutral--20);
}

.sysf-collapse-item-2 {
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.sysf-faq-section.sysf-c-b-neutral-20 {
  display: none;
}

.sysf-collapse-wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  font-size: 18px;
  line-height: 26px;
}

.sysf-button-separator {
  width: 8px;
  height: 8px;
  display: inline-block;
}

.list-2 {
  font-size: 18px;
  line-height: 26px;
}

.button-primary-copy {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #b1b1b1;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-copy:active {
  background-color: #43464d;
}

.button-primary-copy.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.link {
  font-size: 18px;
  line-height: 26px;
  display: block;
}

.code-embed {
  padding: 0;
  font-size: 20px;
}

.code-embed-2 {
  font-size: 20px;
}

.pricelist {
  font-size: 18px;
}

.sysf-container-2 {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.sysf-heading-2 {
  color: var(--systemflow-lite--neutral--100);
}

.sysf-heading-2.sysf-xl {
  letter-spacing: -.022em;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.25;
}

.sysf-body-text-2 {
  color: var(--systemflow-lite--neutral--80);
  margin-top: 0;
}

.sysf-body-text-2.sysf-m {
  letter-spacing: -.011em;
}

.sysf-body-text-2.sysf-s {
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-size: .875rem;
  line-height: 1.4285;
}

.sysf-wrapper-m-2 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.sysf-button-2 {
  background-color: var(--systemflow-lite--primary--60);
  color: var(--systemflow-lite--neutral--10-2);
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: background-color .25s;
  position: relative;
}

.sysf-button-2:hover {
  background-color: var(--systemflow-lite--primary--50);
}

.sysf-button-2:active {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-button-2:focus {
  box-shadow: 0 0 0 2px var(--systemflow-lite--neutral--10-2), 0 0 0 5px var(--systemflow-lite--primary--60);
}

.sysf-button-2.sysf-medium {
  border-radius: 6px;
  padding: 8px 12px;
}

.sysf-button-2.sysf-medium:hover {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-button-2.sysf-medium:active {
  background-color: var(--systemflow-lite--primary--80);
}

.sysf-button-2.sysf-medium:focus {
  background-color: var(--systemflow-lite--primary--70);
}

.sysf-input {
  border: 1px solid var(--systemflow-lite--neutral--40);
  background-color: var(--systemflow-lite--neutral--10-2);
  border-radius: 6px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 400;
}

.sysf-input:hover {
  border-color: var(--systemflow-lite--primary--40);
}

.sysf-input:active {
  border-color: var(--systemflow-lite--primary--50);
}

.sysf-input:focus {
  border-color: var(--systemflow-lite--primary--60);
  background-color: var(--systemflow-lite--neutral--10-2);
}

.sysf-input::placeholder {
  color: var(--systemflow-lite--neutral--70);
}

.sysf-input.sysf-medium {
  height: 44px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px #00000014;
}

.sysf-input.sysf-medium.sysf-horizontal {
  margin-bottom: 0;
  margin-right: 8px;
}

.sysf-form.sysf-form-horizontal {
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.sysf-tagline-2 {
  background-color: var(--systemflow-lite--primary--10);
  color: var(--systemflow-lite--primary--60);
  letter-spacing: -.006em;
  border-radius: 6px;
  margin-bottom: 1.25rem;
  padding-left: 8px;
  padding-right: 8px;
  font-size: .875rem;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
}

.sysf-c-t-neutral-90 {
  color: var(--systemflow-lite--neutral--90);
}

.sysf-c-t-primary-60 {
  color: var(--systemflow-lite--primary--60);
}

.sysf-hero-image {
  border-radius: 20px;
}

.sysf-hero-grid-2 {
  grid-column-gap: 48px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

.sysf-ctas-wrapper-2 {
  margin-top: 1.5rem;
}

.sysf-hero-section-2 {
  position: relative;
  overflow: hidden;
}

.sysf-button-text-2 {
  font-weight: 500;
  display: inline-block;
}

.sysf-s-m-b-2 {
  margin-bottom: 0;
}

.sysf-hero-title-centered-2 {
  text-align: center;
  width: 60%;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.sysf-hero-title-centered-2.sysf-s-m-b-2 {
  margin-bottom: 0;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .sysf-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sysf-button.sysf-medium {
    font-size: 16px;
  }

  .sysf-hero-title-centered {
    width: 100%;
  }

  .sysf-ctas-wrapper {
    margin-top: 1rem;
  }

  .sysf-section-title {
    width: 100%;
    margin-bottom: 32px;
  }

  .sysf-section-title.sysf-centered {
    width: 75%;
  }

  .material-icons.sysf-icon-left.sysf-icon-collapse {
    margin-top: 1px;
  }

  .sysf-collapse-text {
    display: none;
  }

  .sysf-container-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sysf-button-2.sysf-medium, .sysf-input {
    font-size: 16px;
  }

  .sysf-hero-grid-2 {
    text-align: center;
    grid-template-columns: 1fr;
  }

  .sysf-ctas-wrapper-2 {
    margin-top: 1rem;
  }

  .sysf-hero-title-centered-2 {
    width: 100%;
  }

  .container-2 {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .footer-subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }

  .sysf-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .sysf-heading.sysf-xl {
    margin-bottom: 12px;
  }

  .sysf-section-title, .sysf-section-title.sysf-centered {
    width: 100%;
  }

  .sysf-container-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .sysf-heading-2.sysf-xl {
    margin-bottom: 12px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .button-primary.footer-form-button {
    position: relative;
    right: 0;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .sysf-button.sysf-medium {
    align-self: stretch;
  }

  .sysf-ctas-wrapper {
    flex-direction: column;
    margin-top: 1rem;
    display: flex;
  }

  .sysf-tab {
    flex: none;
    display: block;
  }

  .sysf-tabs-menu {
    flex-direction: row;
    display: flex;
    overflow: auto;
  }

  .material-icons.sysf-icon-left.sysf-icon-collapse {
    margin-top: 4px;
  }

  .sysf-collapse-trigger {
    align-items: flex-start;
  }

  .sysf-collapse-title {
    line-height: 1.5;
  }

  .sysf-collapse.sysf-borderless {
    padding: 16px;
  }

  .button-primary-copy.footer-form-button {
    position: relative;
    right: 0;
  }

  .sysf-button-2.sysf-medium {
    align-self: stretch;
  }

  .sysf-input.sysf-medium {
    margin-bottom: .5rem;
  }

  .sysf-input.sysf-medium.sysf-horizontal {
    margin-bottom: 8px;
    margin-right: 0;
  }

  .sysf-form.sysf-form-horizontal {
    flex-direction: column;
  }

  .sysf-ctas-wrapper-2 {
    flex-direction: column;
    margin-top: 1rem;
    display: flex;
  }

  .container-2 {
    max-width: none;
  }
}


